:host {
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-family: Arial, sans-serif;
}

main {
  display: grid;
  gap: 20px;
  justify-items: center;
}

h1 {
  margin: 0;
  font-size: 48px;
}

button {
  min-width: 120px;
  min-height: 40px;
  padding: 0 16px;
  color: white;
  font: bold 14px Arial, sans-serif;
  cursor: pointer;
  background: #1e1e1e;
  border: 0;
  border-radius: 6px;
}
